<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect root to public folder
    RewriteRule ^$ public/ [L]

    # Redirect everything else if not a file/directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

